<div class='contact-container'>
  <div class="supportHeader first-support-header">Franbox&trade; Support</div>
  <div class="supportInfoLine phone">(123) 456-7890</div>
  <div class="supportHeader">Franbox&trade; Sales</div>
  <div class="supportInfoLine phone">(555) 111-2222</div>
</div>

<div id="support_modal_links">
  <div id="clientForm">
    <!--Nested Div to properly group this section together for styling.-->
    <div><a href="#" data-reveal-id="foundation-modal" class="button not-support">Franbox&trade; Foundation</a></div>
    <div><a href="#" data-form="feature_request" class="support-trigger button">Feature Request</a></div>
    <div><a href="#" data-form="support_ticket" class="support-trigger button">Open Support Ticket</a></div>
    <div>User: Test User</div>
    <div>Company: Test Company</div>
  </div>
</div>

<div id="foundation-modal" class="reveal-modal full-under-header" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <img src="/static/images/franbox-foundation.png" class="foundation-modal-img" alt="Franbox Foundation">
</div>
